@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail - @ViewBag.SeriesTitle</title>
</head>
<body>
    <div>
        <h1>@ViewBag.SeriesTitle</h1>
        <h2>Issue No. @ViewBag.IssueNumber</h2>
        <h5>Synopsis:</h5>
        @Html.Raw(ViewBag.Description)
        @if (ViewBag.Artists.Length > 0)
        {
            <h5>Artists:</h5>
            <ul>
                @foreach (var a in ViewBag.Artists)
                {
                    <li>@a</li>
                }
            </ul>
        }
    </div>
</body>
</html>
